.accordion {
    border: 2px solid rgba(46, 52, 64, 0.75);
    text-align: center;
}

.accordion__item + .accordion__item {
    border-top: 2px solid rgba(46, 52, 64, 0.75);
}

.accordion__button {
    background-color: rgba(46, 52, 64, 0.1);
    color: var(--fgPrimaryNL);
    cursor: pointer;
    padding: 18px;
    text-align: center;
    border: none;
}

.accordion__button:hover {
    background-color: rgba(46, 52, 64, 0.25);
}

.accordion__button:before {
    display: inline-flex;
    float: left;
    content: '';
    height: 12px;
    width: 12px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.4s ease-in;
    background-color: rgba(46, 52, 64, 0.1);
}

.accordion__panel a {
    text-decoration: none;
    color: var(--fgPrimaryNL);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}