:root {
  /*
    ? Nord theme - Light
  */

  --bgNL: #eceff4;
  --bgPrimaryNL: #e5e9f0;
  --bgSecondaryNL: #d8dee9;

  --fgPrimaryNL: #2e3440;
  --fgSecondaryNL: #3b4252;

  --frost1: #8fbcbb;
  --frost2: #88c0d0;
  --frost3: #81a1c1;
  --frost4: #5e81ac;

  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --magenta: #b48ead;

  --plbBorderNL: #5e81acbf;
  --plbBackgroundNL: #5e81ac1a;
  --plbBackgroundHoverNL: #5e81ac40;

  --lbBorderNL: rgba(46, 52, 64, 0.75);
  --lbBackgroundNL: rgba(46, 52, 64, 0.1);
  --lbBackgroundHoverNL: rgba(46, 52, 64, 0.25);

  /*
    ? Nord theme - Dark
    */

  --bgND: #2e3440;
  --bgPrimaryND: #3b4252;
  --bgSecondaryND: #434c5e;

  --fgPrimaryND: #eceff4;
  --fgSecondaryND: #e5e9f0;

  --plbBorderND: #5e81acbf;
  --plbBackgroundND: #5e81ac1a;
  --plbBackgroundHoverND: #5e81ac40;

  --lbBorderND: rgba(46, 52, 64, 0.75);
  --lbBackgroundND: rgba(46, 52, 64, 0.1);
  --lbBackgroundHoverND: rgba(46, 52, 64, 0.25);
}
