@import url('main.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

:root {
    --gradientColor1: #3494E6;
    --gradientColor2: #EC6EAD;
}

body {
    background-image: linear-gradient(to right, var(--gradientColor1), var(--gradientColor2));
    color: white;
    font-family: 'Karla';
    background-size: 300%;
    background-position: left;
    animation: bg-animation 5s infinite;
}
@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}