@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@import url('main.css');
@import url('navbar.css');
@import url('hero.css');
@import url('features.css');
@import url('callout.css');
@import url('how.css');
@import url('defineNord.css');
@import url('footer.css');

body {
    background-color: var(--bg);
    font-family: 'Space Grotesk', sans-serif;
    width: 60%;
    margin: auto;
}