.how {
    margin: 0 auto;
}

.howDescription {
    text-align: center;
    color: var(--fgPrimary);
    font-size: 20px;
}

.howDescription a {
    text-decoration: none;
    font-weight: 500;
    color: var(--frost4);
}

.socialShareImg {
    width: 50%;
    display: block;
    margin: 0 auto;
}